@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Light Theme */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.light-theme .navbar {
    background-color: #4b5bb8;
}

/* Dark Theme */
.dark-theme {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-theme .navbar {
    background-color: #333333;
}